body{
    margin: 0;
    display: flexbox;
    background-color: #f0ab4f;
}

nav{
    background-color: #f0ab4f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.login{
    margin-left: auto;    
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 16px 14px;
    text-align: center;
}

nav a:hover{
    background-color: #ffffd0;
    border-radius: 20%;
    color: black;
}

header{
    padding-top: 16px;
    text-align: center;
    background-color: #f8d590;
    padding-bottom: 16px;
}

header img{
    border-radius: 50%;
    width: 50vh;
}

.pesquisa{
    padding-top: 10px;
}

.pesquisa input{
    width: 200px;
    height: 26px;
    margin-left: 90vh;
    background-image: url(../img/lupa-arredondada.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    border: none;
}

.feed{
    background-color: white;
}

